include CMakeLists.txt
include README.md
include LICENSE

recursive-include swig *.i
recursive-include include *.h *.hpp
recursive-include src *.c *.cc *.cpp *.cxx

graft python

global-exclude __pycache__
global-exclude *.py[cod]
